# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/app-user-api/app-user-api/pom.xml
/app-user-api/app-user-api/mvnw.cmd
/app-user-api/app-user-api/mvnw
/app-user-api/app-user-api/.mvn/wrapper/maven-wrapper.jar
/app-user-api/app-user-api/.mvn/wrapper/maven-wrapper.properties
/app-user-api/app-user-api/.mvn/wrapper/maven-wrapper.jar
/app-user-api/app-user-api/.mvn/wrapper/maven-wrapper.jar
/app-user-api/app-user-api/.mvn/wrapper/maven-wrapper.jar
/app-user-api/app-user-api/.mvn/wrapper/maven-wrapper.jar
/app-user-api/app-user-api/.mvn/wrapper/maven-wrapper.jar
/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/rafael-soares-backend.iml
/.idea/vcs.xml
